#hc-subtitle {
	border-color: #dfdfdf;
	color: #333333;
	font-size: 1.7em;
	line-height: 100%;
	padding: 5px 8px 2px 8px;
	width: 100%;
}

#hc-subtitle:focus {
	border-color: #aaa;
}

#hc-subtitle::-webkit-input-placeholder { /* WebKit browsers */
    color:    #bbb;
}
#hc-subtitle:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #bbb;
}
#hc-subtitle::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #bbb;
}
#hc-subtitle:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #bbb;
}